version: "3.8"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - ./var/postgres:/var/lib/postgresql
      - .:/pwd
    environment:
      POSTGRES_PASSWORD: example

  lyrics-provider:
    build:
      context: lyrics-provider
    restart: unless-stopped
    ports:
      - 8090:8090

  redis:
    image: redis:7.4.1
    restart: unless-stopped
    ports:
      - 6379:6379

  pushgateway:
    image: prom/pushgateway:v1.11.2
    restart: unless-stopped
    ports:
      - 9091:9091

  alloy:
    image: grafana/alloy:v1.12.2
    restart: unless-stopped
    volumes:
      - ./config/alloy-config.alloy:/etc/alloy/config.alloy
    environment:
      - GRAFANA_CLOUD_URL=${GRAFANA_CLOUD_URL}
      - GRAFANA_CLOUD_USERNAME=${GRAFANA_CLOUD_USERNAME}
      - GRAFANA_CLOUD_API_KEY=${GRAFANA_CLOUD_API_KEY}
    command:
      - run
      - /etc/alloy/config.alloy
      - --storage.path=/var/lib/alloy/data
    depends_on:
      - pushgateway

  # app:
  #   build:
  #     context: .
  #     args:
  #       EXECUTABLE_PATH: "target/x86_64-unknown-linux-gnu/release"
  #   env_file:
  #     - .env.deploy
  #   restart: always
  #   volumes:
  #     - ./var:/var/app
  #  - ./proxychains.conf:/etc/proxychains4.conf
  # entrypoint: [proxychains]
  # command: [/usr/local/bin/rustify]
