version: "3.8"
services:
  genius_lyrics_provider:
    image: "{{ rustify_docker_image }}-genius"
    restart: always

  bot:
    image: "{{ rustify_docker_image }}"
    environment:
      {{ rustify_env_content | indent(6) }}
    restart: always
    entrypoint: /usr/local/bin/rustify-bot

  track_check:
    image: "{{ rustify_docker_image }}"
    environment:
      {{ rustify_env_content | indent(6) }}
    restart: always
    entrypoint: /usr/local/bin/rustify-track-check

  db:
    image: postgres:16
    restart: always
    volumes:
      - ./var/postgres:/var/lib/postgresql/data
      - .:/pwd:ro
    environment:
      POSTGRES_PASSWORD: "{{ rustify_db_password }}"
      POSTGRES_USER: "{{ rustify_db_username }}"
      POSTGRES_DB: "{{ rustify_db_database }}"
      PGDATA: /var/lib/postgresql/data/pgdata

  redis:
    image: redis:7.4.1
    restart: always
    command: redis-server --save 60 1
    volumes:
      - ./var/redis:/data

networks:
  default:
    name: "{{ rustify_docker_network }}"
